<a href="/autoshops">Go to Auto Shops</a>
<a href="/vehicles">Go to Vehicles</a>

<%= form_with url: '/autoshops', method: :post, local:true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.submit "Create Auto Shop" %>
<% end %>
