<html>
  <head>
    <h1>All Plumbing Shops</h1>
    <% @plumbing_shops.each do |shop| %>
    <h3><%= shop.name %></h3>
    <p>Service Offered? <%= shop.service_offered %><p/>
    <p>Construction Offered? <%= shop.construction_offered %><p/>
    <p>Number of Fleet Vehicles: <%= shop.fleet_vehicles %><p/>
    <% end %>
  </head>
  <body style="background-color:powderblue;">
  </body>
</html>
