<html>
  <head>
    <h1>Welcome to Robin and John's Website!</h1>
    <p>What would you like to do?</p>

    <a href="/parents">Check out our shops!</a>

    <p>This is just an example of how to migrate data...Data: <%= @data %></p>
  </head>
  <body style="background-color:powderblue;">
  </body>
</html>
