<html>
  <head>
    <h1>Available Shops</h1>

    <ul>
      <li><a href="/autoshop">AutoShop</a></li>
      <li><a href="/plumbershop">PlumberShop</a></li>
    </ul>
  </head>
  <body style="background-color:powderblue;">
  </body>
</html>
