<html>
  <head>
    <a href="/autoshops">Go to Auto Shops</a>
    <a href="/vehicles">Go to Vehicles</a>
    <h1>Here are our parent records</h1>

    <ul>
      <li><a href="/autoshops">Auto Shops</a><br><a href="/autoshops/new">New Auto Shop</a></li>
      <li><a href="/vehicles">Vehicles</a><br><a href="/vehicles/new">Add A Vehicle</a></li>
      <li><a href="/plumbershops">Plumber Shops</a><br><a href="/plumbershops/new">Add</a></li>

      <li><a href="/plumbers">Plumbers</a>
      <a href="/plumbers/new">Add</a></li>
    </ul>
  </head>
  <body style="background-color:powderblue;">
  </body>
</html>
