<form action="/plumbershops" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a new Plumber Shop:</p>
  <p>Shop Name</p>
  <input type='text' name='plumbershop[name]'/><br/>
  <p>Service Offered?</p>
  <input type='text' name='plumbershop[service_offered]'/><br/>
  <p>Construction Offered?</p>
  <input type='text' name='plumbershop[construction_offered]'/><br/>
  <p>Number of Fleet Vehicles</p>
  <input type='text' name='plumbershop_fleet_vehicles]'/><br/>
  <input type='submit'/>
</form>

<body style="background-color:powderblue;">
</body>