<html>
  <head>
    <h1><%= @plumbershop.name %></h1>
    <h3><li>Service Offered: <%= @plumbershop.service_offered %></li></h3>
    <h3><li>Number of Feet Vehicles: <%= @plumbershop.fleet_vehicles %></li></h3>
  </head>
  <body style="background-color:powderblue;">
  </body>
</html>